.h1-Competate {
  font-size: 48px;

  font-family: Poppins;
  text-align: center;
  font-weight: 600;



}

.inside-background-learning {
  display: flex;
  justify-content: center;
  gap: 380px;
  flex-wrap: wrap;
}

/* Cấu trúc nền */


/* Khung chứa hình tròn và viền */
.circle-container-competate {
  position: relative;

  height: 220px;
}

.inside-background-den {
  display: flex;
  gap: 363px;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
  left: 34%;
  top: 16%;
}

/* Viền nét đứt */
.circle-border-den {
  position: absolute;
  top: 60px;
  left: 0;
  width: 498px;
  height: 498px;
  border: 3px dashed #F77E23;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
  /* background-color: white;*/
}


/* Ảnh vượt ra ngoài viền */
.circle-image-den {
  position: relative;
  width: 413.5px;
  height: 570.26px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  top: -69.36px;
  left: 53.94px;
  overflow: hidden;
}


.content-den {
  max-width: 500px;
  transform: translate(99px, 107px);
}



.description p {
  font-size: 24px;
  color: #666;
  width: 562px;
  height: 150px;
  left: 595px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 36px;
  transform: translateY(-16px);
}

.circle-color-den {
  width: 373.31px;
  height: 373.31px;
  background-color: #FFE7DB;
  position: absolute;
  border-radius: 50%;
  left: 71px;
  top: 116px;
  z-index: 2;
}


.button-Experts:hover {
  background-color: white;
  color: #F77E23;

}






/*background Competate with various scholars around the globe*/
@supports (backdrop-filter: blur(10px)) {
  .background-Competate-with-various-scholars-around-the-globe {
    background: linear-gradient(to right, rgb(240 185 140 / 53%),
        /* Màu nhạt bên trái */
        rgb(255 255 255 / 80%) 50%,
        /* Màu đậm ở giữa */
        rgb(255 184 125 / 55%) 100%
        /* Màu nhạt bên phải */
      );
    backdrop-filter: blur(300px);
    width: 100%;
    height: auto;
    position: relative;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  }
}






.trans-text-den p {
  text-align: center;
  margin-bottom: 0;
}

.trans-text-den p::after {
  content: "";
  display: block;
  width: 79px;
  height: 1.99px;
  background-color: #F77E23;
  margin: 5px auto;
  transform: rotate3d(1, 0, 1, -2deg);
}

.background-Competate {
  background-color: white;
  width: 194px;
  height: 214px;
  top: 0;
  left: 0;
  border-radius: 10px;


  position: relative;
  z-index: 5;
  box-shadow: 1px 2px 4px 0px;
}



.text-Competate {

  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 11px;

  color: #F77E23;
}

.text-Competate pre {
  color: black;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}

.Competition-Competate-2 {
  width: 70px;
  height: 70px;
  top: 16px;
  left: 59px;
  border-radius: 50px;
  display: flex;
  margin: 0 auto;
  padding-top: 11px;
  z-index: 2;

}


.background-Instructors-den {
  width: max-content;
  display: flex;
  transform: translate(40px, 73px);
  gap: 27px;
}



.hr-Den {
  background-color: #F77E23;
  width: 79px;
  height: 1.99px;
  top: 105.01px;
  border-radius: 2px;
  display: flex;
  margin: 41px auto;
  transform: rotate3d(1, 0, 1, -2deg);
}

.form-den {
  background-color: white;
  width: 604px;
  height: 655px;

  box-shadow: 0px 0px 25px 0px #1118272E;

  display: grid;

  justify-items: center;
  align-content: space-evenly;
  gap: 3px;


}

.form-den-label {
  font-size: 16px;
  font-weight: 600;
  width: 503px;
  height: 47px;
  top: 31px;
  left: 41px;
  text-align: center;
  color: #333333;

}

.form-input {
  width: 515px;
  height: 71px;
  top: 122px;
  left: 39px;
  gap: 0px;
  /* margin-top: -102px; */
  padding-inline: 20px;
  background-color: #FAFAFC;
  border: 1.07px solid #D9DCE0;
}

.form-input-opption {
  width: 556px;
  height: 73px;
  top: 122px;
  left: 39px;
  gap: 0px;
  /* margin-top: -102px; */
  padding-inline: 20px;
  background-color: #FAFAFC;
  color: gray;
  border: 1.07px solid #D9DCE0;
}

.form-slect {
  margin: 0 auto;
  display: flex;
  position: relative;
  font-size: 16px;
  color: #0000008c;
  cursor: pointer;
  user-select: none;
  align-items: center;
}


.selected {
  width: 515px;
  height: 71px;
  top: 8px;
  left: 5px;
  gap: 0px;
  margin-top: -102px;
  padding-inline: 20px;
  background-color: #FAFAFC;
  border: 1.07px solid #D9DCE0;
  display: flex;
  align-items: center;
  color: #000000ab;
}


.list-a-course {
  display: none;
  position: absolute;
  top: 468px;
  left: 0;
  width: 44%;
  background-color: #ffffff;
  border: 1px solid #D9DCE0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  list-style: none;
  margin: 0;
}


.list-a-course li {
  padding: 12px 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
  filter: grayscale(1);
  position: relative;
  left: -44px;

}

.list-a-course li:hover {
  background-color: #f7f7f7;
}

/* Khi checkbox được chọn, hiển thị danh sách */
#toggle:checked+.selected+.list-a-course {
  display: block;
}



.button-Den {
  width: 221px;
  height: 55px;
  border-radius: 5px;
  border: aliceblue;
  background-color: #FF6F28;
  gap: 10px;
  padding-top: 20px;
  padding-right: 42px;
  padding-bottom: 20px;
  padding-left: 42px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  left: 127px;
  cursor: pointer;

}

.button-Den:hover {
  width: 221px;
  height: 55px;
  border-radius: 5px;
  border: aliceblue;
  background-color: white;
  gap: 10px;
  padding-top: 20px;
  padding-right: 42px;
  padding-bottom: 20px;
  padding-left: 42px;
  color: #FF6F28;
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

}

.form-regiter {
  display: contents;
}

.register {
  display: flex;
  flex-direction: column;
  gap: 128px;
  position: relative;
  top: 6%;
  align-items: center;
}