.sort-by-text {
  font-size: 18px;
  width: 63px;
  height: 27px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  z-index: 12;
}

.transform-explore {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

.font-title-Explore {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 392px;
  margin: 0 auto;
}

.sort-by-background {
  width: 129px;
  height: auto;
  border-radius: 50px;
  background-color: #F77E23;
  display: flex;
  align-items: center;
  max-width: 130px;
}

.transform-sort-by {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 64px;
  cursor: pointer;
}

.sort-by-img {
  display: flex;
  flex-direction: row-reverse;
  left: 21.69px;
  z-index: 12;
  position: relative;


}

.container-Den {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  gap: 177px;
  justify-content: center;
  align-items: center;
}

.article-sort-by {
  display: flex;
  margin-bottom: 21px;
  justify-content: center;
}

.display-figure {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 32px;
}

.figure-star {
  border: 1px solid #c8bbbb36;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  background: white;
}

.figure-star:hover {
  transform: translateY(-10px);
  z-index: 2;
}

.figure-star img {
  width: 100%;
  height: 215px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.review-star {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

}

.review-star img {
  width: 18px;
  height: 18px;
}

/* Phần hiển thị tên bài viết */
.display-star {
  display: flex;
  gap: 9px;
  padding-left: 22px;
}

.ficaption-star {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 21px;
  line-height: 36px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 72px;
  width: 320px;
}

.money {
  font-size: 24px;
  color: #F77E23;
  margin: -13px auto;
  padding-left: 69px;
}

.content-star {
  display: flex;
  padding-left: 20px;
  gap: 20px;
  font-family: 'Poppins';
  align-items: center;
}

.a-star {
  text-decoration: none;
  color: black;
}