.sort-by-text {
  font-size: 18px;
  width: 63px;
  height: 27px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  z-index: 12;
}

.transform-explore {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}
@media screen and (max-width:768px) {
      .transform-explore {
        margin: 30px auto;
    }
    
       .sort-by-text {
        font-size: 16px;

    }
    
    .review-star {
        font-size: 14px;
    }
        .font-title-Explore {
        font-size: 36px;
        line-height: 54px;
        max-width: 300px;
    }
.container-Den{
  gap: 27px !important;
}


}
@media (max-width: 480px) {
    .sort-by-text {
        font-size: 14px;

    }
      .review-star {
        font-size: 12px;
    }
        .font-title-Explore {
        font-size: 28px;
        line-height: 42px;
        max-width: 280px;
    }
  }
.font-title-Explore {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 392px;
  margin: 0 auto;
}

.sort-by-background {
  width: 129px;
  height: auto;
  border-radius: 50px;
  background-color: #F77E23;
  display: flex;
  cursor: pointer;
  align-items: center;
  max-width: 130px;
}

.transform-sort-by {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;

}

.sort-by-img {
  display: flex;
  flex-direction: row-reverse;
  left: 21.69px;
  z-index: 12;
  position: relative;


}

.container-Den {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  gap: 92px;
  justify-content: center;
  align-items: center;
}

.article-sort-by {
  display: flex;
  margin-bottom: 21px;
  justify-content: center;
}

.display-figure {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 32px;
}
@media screen and (max-width:1024px) {
  .display-figure{
    grid-template: 1fr 1fr/1fr 1fr;
  }
  
}

@media screen and (max-width: 946px) {
  .display-figure {
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 16px;
  }

}
@media screen and (max-width:480px) 
{
    .display-figure {
        flex-direction: column;
        gap: 10px;
    }  
}
@media screen and (max-width:768px) {
     .display-figure {
        flex-direction: column;
        gap: 15px;
    }

}
@media screen and (max-width:430px) {
    .display-figure{
        grid-template: 1fr 1fr 1fr/  1fr;
    }
    .figure-star{
      max-width: 373px !important;
    }
}
.figure-star {
  border: 1px solid #c8bbbb36;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  background: white;
      max-width: 312px;
}

.figure-star:hover {
  transform: translateY(-10px);
  z-index: 2;
}

.figure-star img {
  width: 100%;
  height: 215px;
  
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.review-star {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

}

.review-star img {
  width: 18px;
  height: 18px !important;
}

/* Phần hiển thị tên bài viết */
.display-star {
  display: flex;
  gap: 9px;
  justify-content: center;
}

.ficaption-star {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 21px;
  line-height: 36px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 72px;
  width: 320px;
}
.dp-money{
  display: flex;
  gap: 20px;
}
.money {
  font-size: 24px;
  color: var(--primary-color-1);

}
@media screen and (max-width:768px) {
    .money {
        font-size: 20px;

    }
        .sort-by-background {
        width: 100%;
    }

    .figure-star {
        max-width: 320px;

    }


    .ficaption-star {
        font-size: 20px;
        width: 250px;
    }

    .content-star {
        gap: 10px;
    }

  .figure-star img{
    height: 132px;
  }
}
@media screen and (max-width:665px) {
        .figure-star {
              max-width: 193px !important;
    }
        .ficaption-star {
        font-size: 13px!important;
    }
    .dp-money{
      font-size: 10px;
    }
        .money {
        font-size: 15px;
    }
    .review-star img {
    width: 13px;
    height: 13px !important;
}
.review-star{
        font-size: 12px;
}
}
@media screen and (max-width:480px) {
      .money {
        font-size: 18px;

    }

  
}
@media (max-width: 480px) {

  

    .figure-star {
        max-width: 128px;

    }

.figure-star img{
    
    height: 128px;
    
}

   

  

    .ficaption-star {
        font-size: 18px;
        width: 220px;
    }

}
@media screen and (max-width:672px) {
 
        .figure-star {
        max-width: 266px;
    }
        .ficaption-star {
        font-size: 16px;
    }
    .display-star{
        padding: 0 10px;
    }
}
.content-star {
  display: flex;
  gap: 20px;
  font-family: 'Poppins';
  align-items: center;
  justify-content: space-around;
}

.a-star {
  text-decoration: none;
  color: black;
}