.footer {
    background-color: var(--black);
    width: 100%;
    height: auto;
    margin-top: 78px;
}

.fb {
    filter: invert(1);
    width: max-content;
    height: max-content;
}

.fb img {
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
}

.in {
    filter: invert(1);
}

.fb-tw-ins-in {
    display: flex;
    gap: 13px;
    width: max-content;
}

.in img {
    width: 24px;
    height: 24px;
}

.div-footer h1 a {
    text-decoration: none;
    color: var(--primary-color-1);
    margin-bottom: 0;
}

.div-footer h1 {
    margin-bottom: 0;
}

.div-footer {
    display: grid;
    width: max-content;
    gap: 20px;

}

.sub-btn {
    background: var(--primary-color-1);
    color: var(--white);
    width: 126px;
    border: none;
    cursor: pointer;
}

.div-footer p {
    color: var(--white);
    max-width: 240px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.address-and-company {
    color: var(--white);
    display: flex;
    width: max-content;
    position: relative;
    gap: 86px;
}

.ul-company {
    list-style: none;
    display: grid;
    gap: 28px;
    position: relative;
    top: -4%;
    padding: 0;
}

.ul-company li a {
    text-decoration: none;
    color: var(--white);
}


.display-ft-subscribe {
    color: var(--white);
}

.ft-Subscribe {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
@media screen and (max-width:768px) {
.ft-Subscribe{
    text-align: start;
    padding-left: 50px;
    font-size: 14px;
    margin: 0;
    margin-top: 100px;
    letter-spacing: 1px;
}
    
}
.ft-Subscribe button {
    max-width: 126px;
    height: auto;
    left: 419px;
    gap: 0px;
    opacity: 0px;
    background: #F77E23;
    color: white;
    border: none;
    cursor: pointer;

}

.inp-btn-subscribe {
    display: flex;
    justify-content: center;
}

.display-contenttionary {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 62px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .display-contenttionary {
       flex-direction: column;
        align-items: flex-start;
        padding: 12px 50px;
        gap: 0;
        line-height: 5px;
    }
    .dislay-ft{
        padding:50px;
    }

}
@media screen and (max-width:600px) {
        .dislay-ft{
                    padding: 6px !important ;
        }
        .display-contenttionary{
                    padding: 12px 12px;
        }
}

.contenttionary {
    display: flex;
    align-content: center;
    align-items: center;
    color: var(--primary-color-1);
    font-weight: 600;
    font-size: 24px;
}

.contenttionary img {
    width: 35.84px;
    height: 35.84px;
    gap: 0px;
    opacity: 0px
}

.dislay-ft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 62px;
    flex-wrap: wrap;
}



.display-content-ft {
    display: flex;
    flex-direction: column;

}

.display-btn-ft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-subcribe,
.input-subcribe::placeholder {
    font-family: "Poppins", serif;
    font-size: 14px;
    border: none;
    padding: 20px;
    width: 60%;
    color: #F77E23;
        height: 5.07px;
}
@media screen and (max-width:600px) {
       .input-subcribe,
    .input-subcribe::placeholder {
             width: 185px ;
     
    }
    .div-footer p{
        font-size: 12px ;
    }
.address-and-company{
        font-size: 12px;
        gap:53px;
}

.contenttionary{
    font-size: 20px;
}
.contenttionary img{
    width: 20.84px;
    height: 20.84px;
}
.display-contenttionary{
    font-size: 16px;
}
}
