.footer {
    background-color: black;
    width: 100%;
    height: auto;
    margin-top: 78px;

}

.fb {
    filter: invert(1);
    width: max-content;
    height: max-content;


}

.fb img {
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
}

.in {
    filter: invert(1);
}

.fb_tw_ins_in {
    display: flex;
    gap: 13px;
    width: max-content;
}

.in img {
    width: 24px;
    height: 24px;
}

.div_footer h1 a {
    text-decoration: none;
    color: #F77E23;
    margin-bottom: 0;
}

.div_footer h1 {
    margin-bottom: 0;
}

.div_footer {
    display: grid;
    width: max-content;
    /* padding: 62px; */
    gap: 20px;

}

.sub_btn {
    background: #F77E23;
    color: white;
    width: 126px;
    border: none;
    cursor: pointer;
}

.div_footer p {

    color: white;
    max-width: 240px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.address_and_company {
    color: white;
    display: flex;
    /* justify-content: flex-end; */
    width: max-content;
    position: relative;
    /* left: 57%; */
    /* top: -293px; */
    gap: 86px;
}

.ul_company {
    list-style: none;
    display: grid;
    gap: 28px;
    position: relative;
    top: -4%;
}

.ul_company li a {
    text-decoration: none;
    color: white;
}

.ft_Subscribe {
    position: relative;
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}


.display_ft_subscribe {
    width: max-content;
    position: relative;
    left: 43%;
    /* top: -173px; */
    color: white;
}



.ft_Subscribe {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.ft_Subscribe button {
    max-width: 126px;
    height: auto;
    left: 419px;
    gap: 0px;
    opacity: 0px;
    background: #F77E23;
    color: white;
    border: none;
    cursor: pointer;

}


.inp_btn_subscribe {
    display: flex;
}

.display_Contenttionary {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 62px;
    font-size: 24px;

}

.Contenttionary {
    display: flex;
    align-content: center;
    align-items: center;
    color: #F77E23;
    font-weight: 600;
    font-size: 24px;
}

.Contenttionary img {
    width: 35.84px;
    height: 35.84px;
    gap: 0px;
    opacity: 0px
}

.dislay_ft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 62px;
    flex-wrap: wrap;
}

.form_ft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display_content_ft {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.display_btn_ft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input_subcribe,
.input_subcribe::placeholder {
    font-family: "Poppins", serif;
    font-size: 14px;
    left: 419px;
    border: none;

    padding: 20px;
    padding-right: 224px;
    color: #F77E23;
    border: none;

}