.circle-image-nature {
    width: 413.5px;
    height: 442.26px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
    top: -45.36px;
    left: -21.06px;
    transform: rotateY(181deg);
    position: absolute;
}

.background-Nature {
    display: flex;
    align-items: center;
    gap: 397px;
    margin: 4px auto;
    max-width: 1103px;
    flex-direction: row-reverse;
}

.circle-container-Nature {
    position: relative;
    width: 220px;
    height: 220px;

}

.content-nature {
    max-width: 500px;


}

.Readers-are-leaders {
    background-color: white;
    width: 168px;
    height: 175px;
    top: 297px;
    left: 695px;
    border-radius: 10px;
    margin: 0 auto;
    transform: translate(-498px, 589px);
    position: relative;
    z-index: 5;
    box-shadow: 1px 2px 4px 0px;
}

.trans-text-Readers-are-leaders {
    width: 63px;
    height: 47px;
    gap: 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-98%, -76%);
    z-index: 3;
    text-align: right;
}

.hr-text-Readers-are-leaders {
    background-color: #F77E23;
    width: 98px;
    height: 1.99px;
    top: 105.01px;
    border-radius: 2px;
    display: flex;
    margin: 109px auto;
    transform: rotate3d(97, 2, -78, 4deg);
    margin-left: 40px;

}

.background-Readers-are-leaders {
    background-color: white;
    width: 168px;
    height: 198px;
    /* top: 408px; */
    left: -32px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    box-shadow: 1px 2px 4px 0px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.hr-leader {
    background-color: #F77E23;
    width: 119px;
    height: 1.99px;
    top: 105.01px;
    border-radius: 2px;
    display: flex;
    transform: rotate3d(1, 49, -2, 20deg);
    position: relative;
    top: 91px;

}



.Hr-Readers-are-leaders {
    transform: translate(-347px, 863px);
    position: relative;
    margin: 2px auto;

}

.content-get-publicstions {
    font-size: 24px;
    color: #666;
    width: 562px;
    height: 150px;
    left: 595px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 36px;
    transform: translateY(31px);
}

.text-Readers-are-leaders {
    width: 60px;
    top: -41px;
    left: -12px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: flex;
    color: #F77E23;
    margin-top: 21px;
    position: relative;
}

.title-narute p {
    margin-bottom: 0;
}

.title-narute {
    font-size: 52px;
    font-weight: bold;
    color: #333;
    font-family: Poppins;
    line-height: 78px;
    /* height: 168px; */
    max-width: 611px;
}

.content-get-publications p {
    font-size: 24px;
    color: #666;
    width: 562px;
    height: 150px;
    left: 595px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 36px;


}

.hr-publicstions {
    max-width: 312px;
    height: 5px;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #F77E23;
    transform: rotate3d(0, 112, -57, 2deg);
    position: relative;
    left: -41px;
    top: -315px;
}