:root {
    --black: #000000;
    --white: #ffffff;
    /*primary*/
    --primary-color-1: #f77e23;
    --primary-color-2: #f77e22c8;

    /*secondary*/

    /*text*/

    /* font*/
    --font-family: 'Poppins', sans-serif;
    /*shadow*/
    --shadow: rgba(0, 0, 0, 0.1)
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: var(--font-family);
}

.img-index {
    position: sticky;
    text-align: center;
}

.img-index img {
    width: 100%;
    height: 634px;
    display: block;
    object-fit: cover;
}

.img-index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

header {
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

}

@media (max-width: 768px) {
    header {
        justify-content: flex-start;
        background: var(--white);
        height: 90px;
        position: absolute;
        width: 100%;
        top: 0;
    }
}

header h1 {
    margin: 0;
}

.text-menu {
    color: #f77e23;
    text-decoration: none;
    font-size: 24px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu-f {
    background: none;
    overflow: hidden;
    height: 20px;
}

.nav-menu div li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu div p a {
    text-decoration: none;
    color: darkblue;
    font-weight: 700;
}

.nav-menu div:hover {
    transition: transform 0.7s ease, color 0.7s ease;
    transform: translateY(-40px);
}

.form {
    display: flex;
    gap: 10px;
    padding-right: 30px;
}

.find {
    display: grid;
    justify-items: end;
    align-items: center;
}

.find img {
    width: 20px;
    filter: invert(1);
    position: absolute;
    height: auto;
}

.form span input {
    padding: 5px;
    font-size: 14px;
    background: none;
    border: none;
    width: 40px;
}

.form button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    width: 104px;
    height: 44px;
    display: block;
    border-radius: 8px;
}

.submit-login {
    color: var(--white);
    background: none;
}

.register {
    background-color: var(--white);
    color: var(--primary-color-1);
    border: 1px solid var(--primary-color-1);
}

.index-text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: var(--white);
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.index-text pre {
    font-size: 60px;
    font-weight: 700;
    flex-wrap: wrap;
    font-family: var(--font-family);
    color: var(--white);
}

.index-text p {
    font-size: 24px;
    color: var(--white);
}

.get-button {
    max-width: fit-content !important;
    padding: 20px 42px !important;
    text-decoration: none;
}

.get-button:hover {
    background-color: var(--white);
    color: var(--primary-color-1);
}

.sp-index {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -79px;
    z-index: 9999;
}

.register-menu {
    background-color: var(--white);
    color: var(--primary-color-1);
    border: 1px solid var(--primary-color-1);
}

.support {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    padding: 36px 148px;
    gap: 48px;
}

.support div {
    text-align: center;
}

.support img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mobile-width {
    display: flex;
    justify-content: space-around;
    width: 51%;
    align-items: center;
}

.dis-button-menu {
    display: none;
}

.support-item {
    display: flex;
    gap: 14px;
    align-items: center;
}

.size-image {
    width: 301px;
    height: 432px;
    position: relative;
    left: -109px;
}