/* Khung chứa hình tròn và viền */
.circle-container {



  position: absolute;
  top: 112px;
}



/* Viền nét đứt */
.circle-border {
  position: absolute;
  top: -249px;
  left: 0;
  width: 498px;
  height: 498px;
  border: 3px dashed #F77E23;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;

}



/* Ảnh vượt ra ngoài viền */
.circle-image {
  position: absolute;
  width: 413.5px;
  height: 514.26px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  top: -40%;
  left: 13.94px;
  overflow: hidden;


}

.display-title {
  display: flex;
  flex-direction: column;


}


/* Phần nội dung */
.content {
  width: 100%;
  max-width: 500px;

}


.title h1 {
  font-size: 52px;
  font-weight: bold;
  color: #333;
  font-family: Poppins;
  line-height: 78px;


  margin-bottom: 0;
}


.title {
  font-size: 52px;
  font-weight: bold;
  color: #333;
  font-family: Poppins;
  line-height: 78px;
  max-width: 543px;
  margin-bottom: 0;
}

.description p {
  font-size: 16px;
  color: #666;
  width: 100%;
  max-width: 562px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 24px;
}

.circle-color {
  width: 373.31px;
  height: 373.31px;
  background-color: #FFE7DB;
  border-radius: 50%;
  left: 62.73px;
  z-index: 2;
  position: relative;
}

.button-Experts {
  width: 100%;
  max-width: 158px;
  border-radius: 5px;
  border: aliceblue;
  background-color: #FF6F28;
  padding: 20px 42px;
  color: white;
  font-family: "Source Sans 3", serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.button-Experts:hover {
  background-color: white;
  color: #F77E23;
}




/*background institution*/
@supports (backdrop-filter: blur(10px)) {
  .background-institution {
    background: linear-gradient(to right, rgb(240 185 140 / 53%),
        /* Màu nhạt bên trái */
        rgb(255 255 255 / 80%) 50%,
        /* Màu đậm ở giữa */
        rgb(255 184 125 / 55%) 100%
        /* Màu nhạt bên phải */
      );
    backdrop-filter: blur(300px);
    width: 100%;
    height: auto;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  }
}

.experts-hr {
  color: #F77E23;
  position: relative;
}

.experts-hr::after {
  content: "";
  display: block;
  width: 326px;
  height: 10px;
  background-color: #F77E23;
  margin-top: -12px;
  border-radius: 40px;
  transform: skewY(-1deg);
}

.Hr {
  position: relative;
  margin: 2px auto;
}

.hr {
  width: 211px;
  height: 4.8px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: #F77E23;
  transform: rotate3d(0, 112, -57, 6deg);
  position: absolute;
  left: 234%;
  top: -45px;
}

.background-outstanding {
  background-color: white;
  width: 168px;
  height: 235px;
  top: 137px;
  left: 337px;
  border-radius: 10px;
  /* margin: 0 auto; */
  position: relative;
  z-index: 5;
  box-shadow: 1px 2px 4px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trans-text {
  width: 121px;

  display: flex;

  position: absolute;
  top: 31%;

  z-index: 3;
}

.text-outstanding {

  top: -22px;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 0;
  text-align: center;

  color: #F77E23;

}

.text-outstanding p::after {
  content: "";
  display: block;
  width: 112px;
  height: 1.99px;
  background-color: #F77E23;
  margin: 17px auto;
  transform: rotate3d(1, 0, 1, -2deg);
}

.competition-outstanding {
  width: 70px;
  height: 70px;
  top: 16px;
  left: 59px;
  border-radius: 50px;
  display: flex;
  margin: 0 auto;
  padding-top: 11px;
  z-index: 2;
}

.background-Instructors {
  width: max-content;
  display: flex;
  gap: 30px;
  position: absolute;
  top: 155px;
  left: 39px;

}

.content-Icrease {
  color: #F77E23;
  font-weight: 400;
  font-family: 'Poppins';
}

.Instructors {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 3px solid white;
  position: absolute;
}

.Instructors,
.Instructors-2,
.Instructors-3 {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 3px solid white;
  position: absolute;
}


.hr-instructors {
  background-color: #F77E23;
  width: 133px;
  height: 1.99px;
  top: 122.01px;
  border-radius: 2px;
  display: grid;
  position: absolute;
  left: 25px;

}