



.circle-image {
  position: absolute;
  width: 413.5px;
  height: 514.26px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 4;
  top: -100px;
  left: 13.94px;
      position: relative;
  overflow: hidden;
}

.display-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
@media screen and (max-width:768px) {
  .circle-image{
             width: 310px !important;
        top: -79px !important;
        height: 399px;
        left: 21px !important;
  }
  
}
@media screen and (max-width:768px) {


.circle-image{
          width: 402px;
        top: -113px;
        left: -21px;
}
.inside-background-learning{
  gap: 30px !important;
}
}
.content-our-onl p{
  font-size: 16px !important  ;
}

.title h1 {
  font-size: 52px;
  font-weight: bold;
  color: #333;
  font-family: Poppins;
  line-height: 78px;
  margin-bottom: 0;
}

.title {
font-family: Poppins;
font-weight: 700;

font-size: 52px;




  max-width: 543px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .title p {
    font-size: 32px !important;
    text-align: center;
  }

}
@media screen and (max-width:400px) {
  .title p{
            font-size: 20px !important;
  }
}
.description p {
  font-size: 16px;
  color: #666;
  width: 100%;
  max-width: 562px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 24px;
}

.circle-color {
 width: 373.31px;
  height: 373.31px;
  background-color: #FFE7DB;
  border-radius: 50%;
  position: absolute;
  bottom: 0;  
  left: 0;
  top: 14px;
  z-index: 2; 
}

.button-Experts {
  width: 100%;
  max-width: 158px;
  border-radius: 5px;
  background-color: #FF6F28;
  padding: 20px 42px;
  color: white;
  font-family: "Source Sans 3", serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.button-Experts:hover {
  background-color: white;
  color: #F77E23;
}

/*background institution*/
@supports (backdrop-filter: blur(10px)) {
  .background-institution {
    background: linear-gradient(to right, rgb(240 185 140 / 53%),
        /* Màu nhạt bên trái */
        rgb(255 255 255 / 80%) 50%,
        /* Màu đậm ở giữa */
        rgb(255 184 125 / 55%) 100%
        /* Màu nhạt bên phải */
      );
    backdrop-filter: blur(300px);
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  }
}

.experts-hr {
  font-family: Open Sans;
  font-weight: 700;
  margin: 0;
  font-size: 48px;

  line-height: 100%;

  text-transform: capitalize;

  color: #F77E23;
  position: relative;
}

.experts-hr::after {
  content: "";
  display: block;
  width: 210.5px;
  height: 7.33px;
  background-color: #F77E23;
  margin-top: -3px;
  border-radius: 40px;
  transform: skewY(-1deg);
}

@media screen and (max-width: 768px) {
  .experts-hr::after {
    width: 100%;
    position: absolute;
    height: 2px;
    margin-top: -2px;
    left: 2px;
  }
  .circle-color{
        left: 31.73px;
        top: 48px;
        width: 276.31px;
        height: 275.31px;
  }
  .circle-image-our{
    width: 310.5px !important;
        height: 399.26px !important;
        top: -77.36px !important;
        left: 17.94px !important;
  
  }
  .background-Increase{
        top: 145px !important;
    left: -16px !important;
        width: 139px !important;
    height: 164px !important;
   
  }
.content-Icrease{
  font-size: 12px;
}
.text-Instrctors{
  font-size: 14px;
}
.background-den{
    width: 131px !important;
        height: auto;
        left: 195px !important;
        padding: 0 !important;
}
.form-input-opption{
  width: 500px ;
}

}
@media screen and (max-width:400px) {
  .circle-image-our{
    width: 279.5px !important;
        height: 327.26px !important;
        top: -77.36px !important;
        left: -18.06px !important;
  }
  .background-Increase{
            top: 128px !important;
        left: 140px !important;
        padding: 10px;
        width: max-content !important;
        height: auto !important;
  }.competition-outstanding{
        width: 40px !important;
    height: 40px !important;
  }
  .title-our p{
            font-size: 20px !important;
  }
}
@media screen and (max-width:768px) {

  .circle-border-examination {
 width: 320px;
        height: 320px ;
        top: 0 !important;
        left: 0 !important;

    }
    .background-outstanding{
          width: 148px !important;
    height: 204px !important;
    top: 119px !important;
    left: 232px !important;
    }
}
@media screen and (max-width:400px) {
  .circle-image-nature{     
  width: 190px !important;
        height: 190px !important;
        
}
.content-our-onl p{
      font-size: 12px !important;
}
.background-den{
  width: 64% !important;
        height: auto;
        top: 89px !important;
        left: 129px !important;
        padding: 0 !important;
}
.circle-wrapper{
          height: 345px;
}
.div-center-content{
          margin-top: 55px !important;
}
}
@media screen and (max-width:480px) {
.background-outstanding{
          left: 199px !important;

}
.text-outstanding p::after{
  top: 80px !important;
}
}
.background-outstanding {
  background-color: white;
  width: 168px;
  height: 235px;
     top: 200px;
    left: 280px;
  border-radius: 10px;
  /* margin: 0 auto; */
  position: absolute;
  z-index: 5;
  box-shadow: 1px 2px 4px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.text-outstanding {

  top: -22px;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 0;
  text-align: center;

  color: #F77E23;

}
.background-den{
  background-color: white;
    width: 168px;
    height: auto;
 top: 218px;
    left: 268px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    z-index: 5;
    box-shadow: 1px 2px 4px 0px;
    display: flex
;
padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.text-outstanding p::after {
    content: "";
    display: block;
    width: 112px;
    height: 1.99px;
    background-color: #F77E23;
    margin: 0;
    position: absolute;
    transform: rotate3d(1, 0, 1, -2deg);
    top: 110px;
}

.competition-outstanding {
  width: 70px;
  height: 70px;
  top: 16px;
  left: 59px;
  border-radius: 50px;
  display: flex;
  margin: 0 auto;
  padding-top: 11px;
  z-index: 2;
}

.background-Instructors {
      width: max-content;
    display: flex
;
    gap: 30px;
    position: relative;
    top: 51px;
    left: -17px;

}

.content-Icrease {
  color: #F77E23;
  font-weight: 400;
  font-family: 'Poppins';
}


.Instructors,
.Instructors-2,
.Instructors-3 {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 3px solid white;
  position: absolute;
}

@media screen and (max-width:400px) {
  .background-Instructors{
           top: 10px;
        left: -14px;
        gap: 21px;
  }
  .Instructors, .Instructors-2, .Instructors-3{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid white;
    position: absolute;
  }
  .text-outstanding{
        font-size: 12px !important;
  }
  .background-outstanding{
               width: max-content !important;
        height: 113px !important;
        top: 101px !important;
        padding: 13px;
        left: 163px !important;
  }
  .text-outstanding p::after{
        top: 82px;
            width: 76px;
    height: 1.99px;
  }
  
}