/* Cấu trúc nền */
.background-examination {
  display: flex;
  align-items: center;
  gap: 244px;
  margin: 4px auto;
  max-width: 1103px;
}

/* Khung chứa hình tròn và viền */
.circle-container-our {
  width: max-content;
  /* height: 631px; */
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  align-content: center;


}

/* Viền nét đứt */
.circle-border-examination {
  position: absolute;
  top: -73px;
  left: 0;
  width: 498px;
  height: 498px;
  border: 3px dashed #F77E23;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;

}


/* Ảnh vượt ra ngoài viền */
.circle-image-our {
  width: 413.5px;
  height: 570.26px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  top: -192.36px;
  left: -17.06px;
  transform: rotateY(181deg);
  position: absolute;

}

/* Phần nội dung */


.inside-background {
  display: flex;
  /* gap: 115px; */
  flex-direction: row-reverse;
  margin: 0 auto;
}





.display-backgound-article {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  left: -85px;
  position: relative;
}

.title-our p {
  font-size: 52px;
  font-weight: bold;
  color: #333;
  font-family: Poppins;
  line-height: 78px;
  /* height: 168px; */
  max-width: 515px;
  margin-bottom: 0;

}

.content-our-onl p {
  font-size: 24px;
  color: #666;
  max-width: 562px;
  /* height: 150px; */
  left: 595px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 36px;

}

.circle-color {
  width: 373.31px;
  height: 373.31px;
  background-color: #FFE7DB;
  border-radius: 50%;
  left: 62.73px;
  z-index: 2;
  position: relative;
}

.button-examination {
  border-radius: 5px;
  border: aliceblue;
  background-color: #FF6F28;
  gap: 10px;
  padding-top: 20px;
  padding-right: 42px;
  padding-bottom: 20px;
  padding-left: 42px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.button-examination:hover {
  background-color: white;
  color: #F77E23;
}



.background-our-examination {
  background-color: rgb(249 205 170);
  width: 48px;
  height: 48px;
  /* top: 25px; */
  /* left: 882px; */
  border-radius: 50%;
  z-index: 5;


}

.background-our-examination-2 {
  background-color: rgb(249 205 170);
  width: 48px;
  height: 48px;
  /* top: 25px; */
  /* left: 882px; */
  border-radius: 50%;
  z-index: 5;

}

/*background Increase*/
@supports (backdrop-filter: blur(10px)) {
  .background-Our-online-examination-istop-notch {
    background: linear-gradient(to right, rgb(240 185 140 / 53%),
        /* Màu nhạt bên trái */
        rgb(255 255 255 / 80%) 50%,
        /* Màu đậm ở giữa */
        rgb(255 184 125 / 55%) 100%
        /* Màu nhạt bên phải */
      );
    backdrop-filter: blur(300px);
    width: 100%;
    max-height: 776px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-grid;
    height: 675px;
    top: 40px;
  }
}



.background-Our-online-examination {
  display: flex;
  /* gap: 528px; */
  max-width: 1151px;
  /* flex-direction: row-reverse; */
  /* margin: 0 auto; */
  align-items: center;
  position: relative;
  top: 47px;
}




.examination-hr {
  color: #F77E23;
  position: relative;
}

.examination-hr::after {
  content: "";
  position: absolute;
  width: 318px;
  height: 6px;
  background-color: #F77E23;
  top: 68px;
  left: 4px;
  border-radius: 40px;
  transform: skewY(-2deg)
}

.background-Increase {
  background-color: white;
  width: 168px;
  height: 175px;
  /* top: 408px; */
  /* left: 367px; */
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  box-shadow: 1px 2px 4px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.trans-text-increase {
  width: 114px;

  /* height: 60px; */
  /* gap: 0px; */
  display: flex;
  /* justify-content: center; */
  /* transform: translateY(-23px); */
  position: absolute;
  top: 31%;
  /* left: 50%; */
  z-index: 3;
}

.text-Instrctors {


  /* top: -22px; */
  /* left: 21px; */
  font-family: Poppins;
  font-weight: 600;
  font-size: 17px;
  /* line-height: 30px; */
  text-align: center;
  /* display: flex
; */
  color: #F77E23;

}

.text-Instrctors p {
  margin-bottom: 0;
  margin-top: 0;
}

.text-Instrctors p::after {
  content: "";
  display: block;
  width: 79px;
  height: 1.99px;
  background-color: #F77E23;
  margin: 5px auto;
  transform: rotate3d(1, 0, 1, -2deg);
}

.text-Instrctors pre {
  margin-top: 0;
}

.Competition-outstanding {
  width: 70px;
  height: 70px;
  top: 16px;
  left: 59px;
  border-radius: 50px;
  display: flex;
  margin: 0 auto;
  padding-top: 11px;
  z-index: 2;
}

.background-Instructors-our {
  width: max-content;
  display: flex;
  gap: 27px;
}

.content-Icrease {
  color: black;
  font-weight: 300;
}

.Instructors {
  width: 40px;
  height: 40px;
  gap: 8px;
  border-radius: 30px;
  border: 3px solid white;
  opacity: 1
}

.hr-Increase {
  background-color: #F77E23;
  width: 119px;
  height: 1.99px;
  top: 105.01px;
  border-radius: 2px;
  display: flex;
  margin: 17px auto;
  transform: rotate3d(1, 49, -2, 20deg);
}