/* Container chính */
.Popular-examination {
    display: grid;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin: 153px auto;
    /* width: max-content; */
    gap: 27px;
    max-width: 1200px;
}

/* Tiêu đề */
.title-section {
    font-size: 48px;
    font-family: "Open Sans", serif;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    margin: 0 auto;
}

/* Link "See all" */
.see-all-popular-examination {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f77e23;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    border: none;
    background: none;
}

/* Figure */
.figure-Popular-examination {
    position: relative;
    max-width: 100%;
    height: 302.93px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin: 0;
}

.display-Popular-examination {
    display: flex;
    gap: 20px;
    position: relative;

}

.figure-Popular-examination img {
    width: 100%;
    height: 100%;
    max-width: 273px;
    object-fit: cover;
    filter: brightness(0.5);
    transition: filter 0.3s ease, transform 0.3s ease;
}

/* Chú thích */
.figure-Popular-examination figcaption {
    position: absolute;
    left: 24.28px;
    font-size: 26.15px;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    text-align: start;
    top: 204px;
    max-width: 192px;
    height: auto;
    line-height: 39.22px;
}

.lr-content-exam {
    display: flex;
    gap: 975px;
    justify-content: center;
    align-items: center;
    bottom: 193px;
    position: relative;
    z-index: 999;
    left: 0%;
}

.space-lr {
    position: relative;
    top: -51px;
}

.background-left-exam,
.background-right-exam {
    background-color: #F77E23;
    width: 24vw;
    height: 5vw;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.background-left-exam:hover,
.background-right-exam:hover {
    background-color: white;
    color: #F77E23;
    z-index: 1;
}

.background-left-exam:hover svg:hover {
    fill: #F77E23;
    z-index: 12;
}

.left-exam svg,
.right-exam svg {
    fill: #fff;

}

.left-exam svg:hover,
.right-exam svg:hover {
    fill: #F77E23;
    z-index: 12;
}



.right-exam,
.left-exam {
    border: none;
    background-color: #F77E23;
    border-radius: 50%;
    width: 5vw;
    height: -6vw;
    max-width: 60px;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    cursor: pointer;
    /* border: 1px solid orange; */
    color: white;
    padding: 15px 0px;
    text-align: center;
    margin: 5px 5px;
    width: 90%;
    font-size: 1.2rem;
}



.right-exam:hover,
.left-exam:hover {
    background-color: white;
    fill: orange;
}

.right-exam .icon-svg {
    transform: rotate(180deg) !important;

}

.right-exam:hover .icon-svg,
.left-exam:hover .icon-svg {
    fill: orange !important;
}