.review {
    text-align: center;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.title-student h1 {
    font-family: Open Sans;
    font-weight: 700;
width: 314px;
    font-size: 48px;

    line-height: 100%;

    text-transform: capitalize;

}
@media screen and (max-width:600px) {
    .title-student h1{
        width: 250px !important;
    }
}
@media (max-width: 768px) {
    .review{
        display: none;
    }
    .reviews{
                margin: 0 auto;
        justify-content: start;
        padding: 20px;
    }
    .title-student h1 {
        font-size: 24px;
        margin: 0;
            width: 286px;
    }

    .experts-hr {
        font-size: 24px;
    }

    .overflow-review {
        width: 313PX;
        overflow: hidden;
    }

    .right-review,
    .left-review {
        width: 35px !important;
        height: 35px !important;
        font-size: 18px !important;

    }

    .lr-content-review {
        gap: 33px !important;
    }

    .review-color {
        font-size: 12px !important;
    }

    .content-review {
        font-size: 12px !important;
        width: 258px !important;

    }

    .review-article {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 0px;
    }

    .review-figure {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }

    .review-figure img {
        width: 28px !important;
        height: 28px !important;
    }

    .title-student {
        display: flex;
        align-items: flex-end;
        font-size: 24px !important;
      
    }


    .review-p {
        font-size: 12px !important;
    }

    .content-review {
        font-size: 12px !important;
    }
}
@media screen and (max-width:480px) {
   .lr-content-review{
    gap: 16px !important;
   } 
}

.review-article {
    background: bottom;
    height: auto;
    max-width: 652px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    position: relative;
    gap: 20px;
}

.review-figure {
    width: 480px;
    height: auto;
    border-radius: 10px;
    /* margin: 0 auto; */
    background: white;
    padding: 20px;
    border: 1px solid #00000012;
}

.review-figure img {
    width: 70px;
    height: 70px;
    gap: 0px;
    border-radius: 50%;
    opacity: 0px;
    object-fit: cover;
}

.review-p {
margin: 0;
    font-weight: 800;
    font-size: 20px;

}



.div-review {
    display: flex;
    gap: 14px;
}

.review-p p {
    margin: 0;
}

.review-color {
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    color: #F77E23;
    line-height: 100%;
    letter-spacing: 0%;

}

.content-review {
    font-family: Open Sans;
    font-weight: 400;
color: #333333;
    font-size: 18px;
    width: 390px;
    line-height: 30px;


}



.lr-content-review {
    display: flex;
    gap: 101px;
    overflow: hidden;

}

.background-left-review,
.background-right-review {
    background: bottom;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #F77E23;
    color: #F77E23;
}

.background-left-review:hover,
.background-right-review:hover,
.right-review:hover,
.left-review:hover {
    background-color: #F77E23;
    color: white;
}

.right-review,
.left-review {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    background: bottom;
    border: none;
    color: #F77E23;
    border-radius: 50%;
    cursor: pointer;
}

.review-article figure {
    gap: 20px;
}

.title-student {
    font-size: 48px;


}