.review {
    text-align: center;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-student h1 {
    max-width: 600px;
    line-height: 100px;
    margin: 0;
}

@media (max-width: 768px) {
    .title-student h1 {
        max-width: 410px;
    }
}

.review-article {
    background: bottom;
    height: auto;
    max-width: 652px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    position: relative;
    gap: 20px;
}

.review-figure {
    width: 382px;
    height: auto;
    border-radius: 10px;
    opacity: 0px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border: 1px solid #00000012;
    position: relative;
}

.review-figure img {
    width: 70px;
    height: 70px;
    gap: 0px;
    border-radius: 50%;
    opacity: 0px;
    object-fit: cover;
}

.review-p {
    width: 182px;
    font-weight: 800;
    font-size: 20px;
    transform: translate(24px, 0px);
}

.div-review {
    display: flex;
}

.review-color {
    font-weight: 700;
    color: #F77E23;
}

.content-review {
    width: 397px;
    line-height: 30px;
    font-size: 18px;
}



.lr-content-review {
    display: flex;
    gap: 101px;
    overflow: hidden;
    transform: translateY(-10px);
}

.background-left-review,
.background-right-review {
    background: bottom;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #F77E23;
    color: #F77E23;
}

.background-left-review:hover,
.background-right-review:hover,
.right-review:hover,
.left-review:hover {
    background-color: #F77E23;
    color: white;
}

.right-review,
.left-review {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    background: bottom;
    border: none;
    color: #F77E23;
    border-radius: 50%;
    cursor: pointer;
}

.review-article figure {
    gap: 20px;
}

.title-student {
    font-size: 48px;
}